/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}

@font-face {
  font-family: Eventpop;
  src: url('../src/fonts/eventpop/eventpop-medium.ttf');
}

@font-face {
  font-family: Eventpop;
  src: url('../src/fonts/eventpop/eventpop-bold.ttf');
  font-weight: bold
}

* {
  font-family:Eventpop, Inter
}

.inter {
  font-family:'Inter', sans-serif
}

::-webkit-scrollbar {
  display: none;
}

.accordion-btn .accordion-arrow-anim {
  transform:rotate(0deg);
  transition:all 200ms;
}

.accordion-btn.active .accordion-arrow-anim {
  transform:rotate(90deg);
  transition:all 200ms;
}

.border-anim {
  animation:borderAnim 300ms;
}

.accordion-btn + .accordion-detail {
  visibility:hidden;
  opacity:0;
  max-height:0;
  transition:visibility 200ms, opacity 200ms, max-height 300ms;
}

.accordion-btn.active + .accordion-detail {
  visibility:visible;
  opacity:1;
  transition:visibility 200ms, opacity 200ms, max-height 300ms;
}

.container-admin {
  margin-left:280px;
}

@keyframes borderAnim {
  from {
    width:0;
  }
  to {
    width:100%
  }
}